name: Build Microsite
on:
  pull_request:
    paths:
      - 'vuepress/**'
  push:
    branches:
      - develop
    paths:
      - 'vuepress/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: |
          cd vuepress
          yarn install
          yarn docs:build
          cd ..
          rm -rf docs/microsite
          cp -r vuepress/docs/.vuepress/dist docs/microsite
      - name: Update docs
        run:  |
          if [[ "$GITHUB_REF" == refs/heads/develop ]] ; then
            git config user.name "Vlad Podilnyk"
            git config user.email "vpodilnyk@playq.net"
            git add docs
            git commit -m "CI step: update docs"
            git push origin develop
          fi
